In [2]:
import pandas as pd

## Overview of Met Police and City of London Police datasets (on street crime)

In [7]:
met_df = pd.read_csv('data/2018-07-metropolitan-street.csv')

print(met_df.info())

met_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95677 entries, 0 to 95676
Data columns (total 12 columns):
Crime ID                 74480 non-null object
Month                    95677 non-null object
Reported by              95677 non-null object
Falls within             95677 non-null object
Longitude                94577 non-null float64
Latitude                 94577 non-null float64
Location                 95677 non-null object
LSOA code                94577 non-null object
LSOA name                94577 non-null object
Crime type               95677 non-null object
Last outcome category    74480 non-null object
Context                  0 non-null float64
dtypes: float64(3), object(9)
memory usage: 8.8+ MB
None

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,e9fe81ec7a6f5d2a80445f04be3d7e92831dbf3090744e...,2018-07,Metropolitan Police Service,Metropolitan Police Service,0.774271,51.148147,On or near Bethersden Road,E01024031,Ashford 012B,Other theft,Under investigation,NaN
1,076b796ba1e1ba3f69c9144e2aa7a7bc85b61d51bf7a59...,2018-07,Metropolitan Police Service,Metropolitan Police Service,-1.007293,51.893136,On or near Prison,E01017674,Aylesbury Vale 010D,Other crime,Awaiting court outcome,NaN
2,163e996d58995cf87d14f15711fbd87052681919f02029...,2018-07,Metropolitan Police Service,Metropolitan Police Service,0.744706,52.038219,On or near Hillside Road,E01029918,Babergh 007F,Violence and sexual offences,Under investigation,NaN
3,NaN,2018-07,Metropolitan Police Service,Metropolitan Police Service,0.137065,51.583672,On or near Police Station,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
4,NaN,2018-07,Metropolitan Police Service,Metropolitan Police Service,0.148434,51.595164,On or near Park/Open Space,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN

In [8]:
city_df = pd.read_csv('data/2018-07-city-of-london-street.csv')

print(city_df.info())

city_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 12 columns):
Crime ID                 627 non-null object
Month                    859 non-null object
Reported by              859 non-null object
Falls within             859 non-null object
Longitude                778 non-null float64
Latitude                 778 non-null float64
Location                 859 non-null object
LSOA code                778 non-null object
LSOA name                778 non-null object
Crime type               859 non-null object
Last outcome category    627 non-null object
Context                  0 non-null float64
dtypes: float64(3), object(9)
memory usage: 80.6+ KB
None

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,bf66549a084866d616a3f972ad9ad2bbbda6651ca48266...,2018-07,City of London Police,City of London Police,-0.119224,51.529042,On or near Hospital,E01000939,Camden 024C,Other theft,Investigation complete; no suspect identified,NaN
1,NaN,2018-07,City of London Police,City of London Police,-0.106453,51.518207,On or near Charterhouse Street,E01000916,Camden 027B,Anti-social behaviour,NaN,NaN
2,NaN,2018-07,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Anti-social behaviour,NaN,NaN
3,NaN,2018-07,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Anti-social behaviour,NaN,NaN
4,NaN,2018-07,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Anti-social behaviour,NaN,NaN