In [1]:
import pandas as pd

In [2]:
crime_df = pd.read_csv('../data/On_Street_Crime_In_Camden.csv')

print(crime_df.info())

crime_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151556 entries, 0 to 151555
Data columns (total 20 columns):
Category            151556 non-null object
Street ID           151556 non-null int64
Street Name         151556 non-null object
Context             0 non-null float64
Outcome Category    118117 non-null object
Outcome Date        118117 non-null object
Service             151556 non-null object
Location Subtype    6804 non-null object
ID                  151556 non-null int64
Persistent ID       111777 non-null object
Epoch               151556 non-null object
Ward Code           151556 non-null object
Ward Name           151556 non-null object
Easting             151556 non-null float64
Northing            151556 non-null float64
Longitude           151556 non-null float64
Latitude            151556 non-null float64
Spatial Accuracy    151556 non-null object
Last Uploaded       151556 non-null object
Location            151556 non-null object
dtypes: float64(5), int64(2), object(13)
memory usage: 23.1+ MB
None

,Category,Street ID,Street Name,Context,Outcome Category,Outcome Date,Service,Location Subtype,ID,Persistent ID,Epoch,Ward Code,Ward Name,Easting,Northing,Longitude,Latitude,Spatial Accuracy,Last Uploaded,Location
0,Theft from the person,960684,On or near Conway Mews,NaN,Investigation complete; no suspect identified,01/06/2015,Police Force,NaN,41015103,8b3fa5ae8a1d7c2a018dac3ea65b48d488a72a9088c0ce...,01/05/2015,E05000129,Bloomsbury,529174.85,182002.86,-0.139515,51.522189,This is only an approximation of where the cri...,21/08/2015,"(51.522189, -0.139515)"
1,Burglary,956618,On or near Rathbone Place,NaN,Awaiting court outcome,01/05/2015,Police Force,NaN,38756146,0f2959763b802edd81a586068a3c12cea2855006aa174d...,01/01/2015,E05000129,Bloomsbury,529552.90,181517.86,-0.134247,51.517744,This is only an approximation of where the cri...,21/08/2015,"(51.517744, -0.134247)"
2,Anti-social behaviour,967781,On or near Goldhurst Terrace,NaN,NaN,NaN,Police Force,NaN,44908996,NaN,01/11/2015,E05000133,Frognal and Fitzjohns,526367.86,184618.86,-0.179014,51.546333,This is only an approximation of where the cri...,05/05/2016,"(51.546333, -0.179014)"
3,Anti-social behaviour,960974,On or near Birkenhead Street,NaN,NaN,NaN,Police Force,NaN,44521423,NaN,01/10/2015,E05000141,King's Cross,530392.86,182859.87,-0.121652,51.529611,This is only an approximation of where the cri...,05/05/2016,"(51.529611, -0.121652)"
4,Violence and sexual offences,960582,On or near Shopping Area,NaN,Under investigation,01/02/2018,Police Force,NaN,63282493,130fb7417cd86b5ad345c6c2430ace968837c93b46a08c...,01/02/2018,E05000142,Regent's Park,529585.27,182734.74,-0.133296,51.528664,This is only an approximation of where the cri...,13/04/2018,"(51.528664, -0.133296)"

In [3]:
# crime_df = crime_df[:1000]

crime_df['Location'].nunique()

1535

In [4]:
crime_df['Coordinate'] = crime_df.apply(lambda x: (x['Longitude'], x['Latitude']), axis=1)

crime_df.head()

,Category,Street ID,Street Name,Context,Outcome Category,Outcome Date,Service,Location Subtype,ID,Persistent ID,...,Ward Code,Ward Name,Easting,Northing,Longitude,Latitude,Spatial Accuracy,Last Uploaded,Location,Coordinate
0,Theft from the person,960684,On or near Conway Mews,NaN,Investigation complete; no suspect identified,01/06/2015,Police Force,NaN,41015103,8b3fa5ae8a1d7c2a018dac3ea65b48d488a72a9088c0ce...,...,E05000129,Bloomsbury,529174.85,182002.86,-0.139515,51.522189,This is only an approximation of where the cri...,21/08/2015,"(51.522189, -0.139515)","(-0.139515, 51.522189000000004)"
1,Burglary,956618,On or near Rathbone Place,NaN,Awaiting court outcome,01/05/2015,Police Force,NaN,38756146,0f2959763b802edd81a586068a3c12cea2855006aa174d...,...,E05000129,Bloomsbury,529552.90,181517.86,-0.134247,51.517744,This is only an approximation of where the cri...,21/08/2015,"(51.517744, -0.134247)","(-0.134247, 51.517744)"
2,Anti-social behaviour,967781,On or near Goldhurst Terrace,NaN,NaN,NaN,Police Force,NaN,44908996,NaN,...,E05000133,Frognal and Fitzjohns,526367.86,184618.86,-0.179014,51.546333,This is only an approximation of where the cri...,05/05/2016,"(51.546333, -0.179014)","(-0.179014, 51.546333000000004)"
3,Anti-social behaviour,960974,On or near Birkenhead Street,NaN,NaN,NaN,Police Force,NaN,44521423,NaN,...,E05000141,King's Cross,530392.86,182859.87,-0.121652,51.529611,This is only an approximation of where the cri...,05/05/2016,"(51.529611, -0.121652)","(-0.121652, 51.529610999999996)"
4,Violence and sexual offences,960582,On or near Shopping Area,NaN,Under investigation,01/02/2018,Police Force,NaN,63282493,130fb7417cd86b5ad345c6c2430ace968837c93b46a08c...,...,E05000142,Regent's Park,529585.27,182734.74,-0.133296,51.528664,This is only an approximation of where the cri...,13/04/2018,"(51.528664, -0.133296)","(-0.133296, 51.528664)"

In [5]:
crime_freq = crime_df.groupby('Coordinate').size()

In [6]:
crime_freq.count()

1535

In [7]:
print(crime_freq.min())
print(crime_freq.max())

1
1550

In [8]:
import json

with open('../data/template.geojson', 'r') as template:
    template = json.load(template)
    
    for index, value in crime_freq.iteritems():
        data = {
            'type': 'Feature',
            'properties': {
                'crimes': value
            },
            'geometry': {
                'type': 'Point',
                'coordinates': [index[0], index[1]]
            }
        }
        
        template['features'].append(data)

with open('../crimes.geojson', 'w') as output:
    json.dump(template, output)